.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 3px solid Black;
  width: 300px; /* Could be more or less, depending on screen size */
  max-width: 100%;
  height: 400px;
  max-height: 100%;
  overflow: auto;
}

.modal-content h1 {
  margin-top: 45px;
  font-family: courier;
  font-size: 34px;
  font-weight: bold;
  letter-spacing: 1px;
}

.modal-content body {
  height: 100px;
  width: 100px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
