body {
    font-family: "Roboto", sans-serif;
    color: rgb(119, 164, 192);
    text-align: center;
    background-color: rgb(230, 235, 236);
}

input[type=submit], button {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin-top: 30px;
    margin-left: 22px;
    margin-right: 22px;
    color: rgb(119, 164, 192);
    background-color: white;
    border: 2px solid rgb(123, 172, 202);
    border-radius: 10px;
    border-top-style: hidden;
    width: 180px;
    height: 45px;
    transition: all 0.3s;
}

input[type=submit]:hover, button:hover {
    color: white;
    border: 2px solid lightsteelblue;
    background-color: rgb(123, 172, 202);
    cursor: pointer;
}

input[type=submit]:disabled, button:disabled {
    color: grey;
    border: 2px solid grey;
    background-color: rgb(179, 195, 216);
    cursor: not-allowed;
}

#queue, th, td {
    font-size: 28px;
    text-align: left;
    border-spacing: 6px;
    border: 1.5px solid white;
    border-collapse: collapse;
    padding: 15px;
    width: 50%;
}

#queue {
    width: 100%;
}

td {
    font-size: 38px;
    font-weight: bold;
    padding: 20px;
}

th {
    background-color: rgb(123, 172, 202);
    color: white;
}